.header {
	position: relative; width: 100%; height: auto; padding: 0.9rem 1.667rem 2.083rem;
	font-size: 1.167em; font-weight: 400; line-height: 1.25;
	border-bottom: 5px solid #505050;	
}
.header .wrapper {
	position: relative; width: 100%; height: auto;
	display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.header__info {
	display: flex; flex-direction: row; justify-content: space-between; align-items: center;
	width: 100%; height: 3.333rem; 
	font-size: 1.333rem; font-weight: bold;
}
.header__info_logo, 
.header__info_tel {display: block; width: 12.5rem; height: 100%;}
.header__info_description {display: none;}
.header__info_tel {height: auto; width: auto;}
.header__info_logo a {
	display: block;
	position: relative; 
	width: 100%; height: 100%;
	background: url(../res/logo.png) 50% 50% no-repeat; background-size: contain; 
}
.header_text {padding-top: 2.5rem;}
.header_text div:first-child {font-size: 1.143em; font-weight: bold; text-transform: uppercase; padding-bottom: 1rem;}
.header_text div:first-child p {display: inline;}

.header_button {
	padding-top: 1.667rem;
	padding-bottom: 2.7rem;
}
.header_button a {
	position: relative;
	width: 13.333rem; height: 2.5rem;
	margin: auto;
	font-weight: 400; /*text-transform: uppercase;*/
	display: flex; justify-content: center; align-items: center; font-size: 1rem;
}
.header__features {
	display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between; align-items: flex-end;
	width: 100%; height: 18rem;
}
.header__features_item {
	display: flex; flex-direction: column; justify-content: space-between; align-items: center;
	height: 8.15rem; width: 50%;
}
.feature_image {width: 90%; height: 4.6rem; background: url(../res/icon_manager.png) 50% 50% no-repeat; background-size: contain;}
.feature_image#image_2 {background-image: url(../res/icon_freedesighn.png);}
.feature_image#image_3 {background-image: url(../res/icon_stopwatch.png);}
.feature_image#image_4 {background-image: url(../res/icon_truck.png);}
.feature_text {width: 90%; height: 3rem;}

br.mobileviews {display: inline;}
br.wideviews {display: none;}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: 320px) {
		
	}
	/*tablets*/
	@media only screen and (min-width: 768px) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: 1000px) {
		.header {border: none;}
		.header .wrapper {width: 950px; margin: auto;}
		.header__info_logo {width: 16.77rem;}
		.header__info_description {
			display: block; width: auto; height: auto;
			font-size: 1.16rem; font-weight: normal; line-height: 1.3;
		}
		.header__info_tel {font-size: 1.55rem;}
		.header_text {padding-top: 5.5rem;}
		.header_text div:first-child {font-size: 2.13rem; padding-bottom: 2.6rem;}
		.header_text div:first-child p {display: block; text-transform: none;}
		.header_text div:first-child p:first-child {text-transform: uppercase;}
		
		.header_button {padding-bottom: 1.7rem;}
		.header_button a {font-size: 1.29rem; height: 3.55rem; width: 17.74rem; border-radius: 2rem; box-shadow: -10px 10px 10px rgba(81, 50, 72, 0.2);}
		.button-wrapp { border-radius: 2rem; box-shadow: inset 4px -4px 5px rgba(106, 0, 0, 0.21);}
		
		.header__features {flex-direction: row; align-items: flex-start; height: 13rem;}
		.header__features_item {width: 12rem; height: 7rem; box-sizing: content-box;}
		.header__features_item:nth-child(2), 
		.header__features_item:nth-child(3) {padding-top: 3rem;}
		.feature_image {height: 3.2rem;}

		br.mobileviews {display: none;}
		br.wideviews {display: inline;}
	}

	/*wideview monitor*/
	@media only screen and (min-width: 1280px) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: 1920px) {
		.header .wrapper {width: 49.5%;}
	}
