
article {
	position: relative; width: 100%; height: auto;
	display: block; padding: 2rem 1.667rem 2.8rem; 
	font-size: 1.167em; font-weight: 400; line-height: 1.25;
}
article .wrapper {
	position: relative; width: 100%; height: auto;
	display: flex; flex-direction: column; justify-content: center; align-items: center;
}
article h1 {
	font-size: 1.333rem; line-height: 1.3; font-weight: bold; text-transform: uppercase;
	text-shadow: 0px 2px 2px rgba(183,97,55,0.29);
}
article h2 {font-size: 1.333rem; line-height: 1.2; font-weight: bold; text-align: center; text-transform: uppercase;}
article p {
	font-size: 1.167rem; line-height: 2.2;
}
article.price h2 {display: none;}

form {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;
	width: 81%; padding-top: 2rem;
}
input {
	display: block; position: relative; 
	width: 100%;
}
input:focus { 
  outline: none;
}
input.textarea {
	height: 2rem; 
	background-color: transparent; 
	border: 0.2rem solid #e7d009; border-radius: 0.6rem;
	margin-bottom: 0.6rem;
	font: inherit; text-align: center; color: black;
}
input.textarea.text_white {color: white;}
input.textarea::-webkit-input-placeholder {color: black;}
input.textarea:-ms-input-placeholder {color: black;}
input.textarea::-ms-input-placeholder {color: black;}
input.textarea::placeholder {color: black;}
input.textarea.text_white::-webkit-input-placeholder {color: white;}
input.textarea.text_white:-ms-input-placeholder {color: white;}
input.textarea.text_white::-ms-input-placeholder {color: white;}
input.textarea.text_white::placeholder {color: white;}
label {padding: 0;}
.button {
	display: block; position: relative; margin: 0; overflow: hidden;
	width: 48.5%; height: 2.35rem; 
	font-size: 1.167rem; font-weight: 700; text-transform: uppercase;
	cursor: pointer; border-radius: 0.6rem;
	margin-top: 1rem;
}
.button > div { border-radius: 0.6rem; z-index: 1;}
input[type=file] {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; z-index: 11;}

article.services {padding: 2rem 0 2rem;}
article.services h1 {text-shadow: none;}

section {
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;
	position: relative;
	width: 100%; height: auto;
	padding: 0 1.667rem; 
	font-size: 1.167rem;
}
section h2 {
	position: absolute; top: 2rem; left: 1.667rem;
	font-size: 1.333rem; font-weight: bold; width: 39%; text-align: left;
}
section p {display: block; width: 100%; padding-top: 1.3rem; font-size: 1em; line-height: 1.4; text-align: justify;}
section p:first-of-type {padding-top: 17rem;}
section p:last-of-type {padding-bottom: 2rem;}
.article__text {position: static;}
section .img {
	display: block; width: 50%; height: 13.5rem; 
	position: absolute; top: 2rem; right: 1.667rem; 
	background: url(../res/1_flag.png) 50% 50% no-repeat; background-size: contain; background-position-x: 100%;}
.section_1 {justify-content: center; margin-top: 2rem; }
.section_1 h2 {position: relative; width: 100%; /*padding-top: 2rem;*/ top: auto; right: auto; left: auto; text-align: center;}
.section_1 .img {width: 100%; top: auto; right: auto; position: relative; background-image: url(../res/1_stanok.png);  background-position-x: 50%;}
.section_1 p:first-of-type {padding-top: 1.3rem; }
.section_2 .img {width: 80%; left: auto; right: -4.5rem;}
.section_2 p:last-of-type {padding-bottom: 4rem; }
.section_3 h2 {right: 1.667rem; left: auto; text-align: right;}
.section_3 .img {width: 54%; left: -3rem; top: -2.5rem; background-image: url(../res/1_banner.png); background-position-y: 1rem; background-position-x: 0%;}
.section_3 p:first-of-type {padding-top: 13rem; }
.section_4 .img {width: 60%; left: auto; right: -1.7rem; top: -1.7rem; background-image: url(../res/1_plotter.png); background-position-x: 100%;}
.section_4 p:first-of-type {padding-top: 13rem; }
.section_5 .img {right: auto; left: 0.6rem; top: -1.8rem; background-image: url(../res/1_billbord.png); width: 55%; height: 15rem; background-position-x: 0%;}
.section_5 h2 {right: 1.667rem; left: auto; width: 50%; text-align: right;}
.section_5 p:first-of-type {padding-top: 15.5rem; }
.section_5 p:last-of-type {padding-bottom: 0; }

article.benefits {padding-bottom: 4.5rem;}
.article__features {
	display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; align-items: flex-end;
	width: 100%; height: 40rem;
}
.article__features_item {
	display: flex; flex-direction: column; justify-content: space-between; align-items: center;
	height: 7.1rem; width: 50%;
}
.benefit_image {width: 90%; height: 3.3rem; background: url(../res/icon_2_1.png) 50% 100% no-repeat; background-size: contain;}
.benefit_image#image_1 {height: 3.5rem; }
.benefit_image#image_2 {background-image: url(../res/icon_2_2.png);}
.benefit_image#image_3 {background-image: url(../res/icon_2_3.png);}
.benefit_image#image_4 {background-image: url(../res/icon_2_4.png);}
.benefit_image#image_5 {background-image: url(../res/icon_2_5.png);}
.benefit_image#image_6 {background-image: url(../res/icon_2_6.png);}
.benefit_image#image_7 {background-image: url(../res/icon_2_7.png);}
.benefit_image#image_8 {background-image: url(../res/icon_2_8.png);}
.benefit_text {width: 90%; height: 3rem;}

.installation {position: relative;}
.installation h1 {position: absolute; width: 45%; top: 2rem; left: 1.667rem; text-align: left;}
.installation .img {
	display: block; width: 65%; height: 13.5rem; 
	position: absolute; top: -3rem; right: -3.5rem; 
	background: url(../res/montazh.png) 50% 50% no-repeat; background-size: contain;
}
.installation p {font-size: 1.167rem; line-height: 1.3; text-align: left;}
.installation p:first-of-type {padding-top: 10rem;}
.installation p:nth-of-type(2) {font-weight: bold; padding: 0.8rem 0;}
.installation p:nth-of-type(4) {padding: 0.8rem 0;}

.installation form {justify-content: center;}
.installation input.textarea,
.installation .button {width: 90%; height: 2.7rem;}
.installation input.textarea {border-width: 0.1rem; margin-bottom: 1.2rem;}
.installation .button {margin-top: 0.2rem;}
.installation input.textarea::-webkit-input-placeholder {color: white;}
.installation input.textarea:-ms-input-placeholder {color: white;}
.installation input.textarea::-ms-input-placeholder {color: white;}
.installation input.textarea::placeholder {color: white;}

article.examples {position: relative;}

.slider-container {position: relative; width: 100%; height: auto; padding-top: 1.65rem;}
.prev-slide, .next-slide {
	position: absolute;
	top: 50%;
	width: 3.2rem;
	height: 3.2rem;
	margin-top: -1.041rem;
	z-index: 10;
	cursor: pointer;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.prev-slide {background-image: url(../res/vlevo.png); left: -1.2rem; right: auto;}
.next-slide {background-image: url(../res/vpravo.png); right: -1.2rem; left: auto;}
/*swiper styles*/
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 0.25rem;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 0.25rem;}
.swiper-pagination-bullets .swiper-pagination-bullet {background-color: rgba(235,235,235,0.8); opacity: 1; border: 1px solid #fff; width: 0.6rem; height: 0.6rem;}
.swiper-pagination-bullets .swiper-pagination-bullet-active {background-color: rgba(0,0,0,1);} 
.swiper-container {
  width: 83%;
  margin: auto;
  height: 15rem;
}
.swiper-slide {
	color: transparent;
	background: url(../res/photo_2018-08-31_13-01-01.jpg) 50% 50% no-repeat; background-size: auto 100%;
}
.swiper-slide_2 {background-image: url(../res/photo_2018-08-31_13-01-00.jpg);}
.swiper-slide_3 {background-image: url(../res/photo_2018-08-25_11-46-11.jpg);}
.swiper-slide_4 {background-image: url(../res/photo_2018-08-25_11-45-56.jpg);}
.swiper-slide_5 {background-image: url(../res/photo_2018-08-31_19-38-51.jpg);}
.swiper-slide_6 {background-image: url(../res/photo_2018-08-25_11-43-46.jpg);}
.swiper-slide_7 {background-image: url(../res/photo_2018-08-31_13-01-02.jpg);}
.swiper-slide_8 {background-image: url(../res/photo_2018-08-31_13-01-02-2.jpg);}
.swiper-slide_9 {background: transparent;}
.swiper-slide form {width: 100%; height: 100%; flex-direction: column; justify-content: center; padding-bottom: 4rem; padding-top: 0rem;}
.swiper-slide form h2 {padding-bottom: 1rem; font-size: 1rem;}
.swiper-slide form input,
.swiper-slide form .button {width: 59%; height: 2rem; margin-top: 0; border: none; border-radius: 3rem; font-size: 0.9rem;}

article.partners {padding-bottom: 5rem;}
.labels {
	display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; align-items: center; align-content: space-between;
	width: 100%; height: 37.25rem; padding-top: 2.6rem;
}
.labels__item {
	display: flex; align-items: center; justify-content: center;
	position: relative;
	width: 7.5rem; height: 4.2rem;
	color: transparent;
	
}
.labels__item .img_wrapper {display: block; position: relative; width: 100%; height: 100%; background: url(../res/sprite_logo_gr.png) 0 -0.9rem no-repeat; background-size: 46rem; transition: background-image 0.4s ease-out;}
.labels__item.active .img_wrapper {background-image: url(../res/sprite_logo_col.png);}
.labels__item_2 .img_wrapper {background-position-x: -7.5rem; width: 80%; background-position-y: -1rem; background-size: 42.2rem;}
.labels__item_3 .img_wrapper {background-position-x: -15rem; width: 100%; background-position-y: -1.4rem; background-size: 46rem;}
.labels__item_4 .img_wrapper {background-position-x: -18.3rem; width: 80%; height: 105%; background-position-y: 0rem; background-size: 37.5rem;}
.labels__item_5 .img_wrapper {background-position-x: -26rem; width: 90%; background-position-y: -0.7rem; background-size: 40rem;}
.labels__item_6 .img_wrapper {background-position-x: -23.6rem; width: 80%; background-position-y: 0rem; background-size: 28.3rem;}
.labels__item_7 .img_wrapper {background-position-x: -0.5rem; width: 80%; background-position-y: -6rem; background-size: 43rem;}
.labels__item_8 .img_wrapper {background-position-x: -7.6rem; width: 100%; background-position-y: -6.5rem; background-size: 46rem;}
.labels__item_9 .img_wrapper {background-position-x: -16.15rem; width: 80%; background-position-y: -7.3rem; background-size: 47rem;}
.labels__item_10 .img_wrapper {background-position-x: -22.5rem; width: 100%; background-position-y: -7.1rem; background-size: 46rem;}
.labels__item_11 .img_wrapper {background-position-x: -31.5rem; width: 100%; background-position-y: -7.1rem; background-size: 47rem;}
.labels__item_12 .img_wrapper {background-position-x: -38.5rem; width: 100%; background-position-y: -6.8rem; background-size: 46rem;}
.labels__item_13 .img_wrapper {background-position-x: 1rem; width: 100%; background-position-y: -8.6rem; background-size: 33rem;}
.labels__item_14 .img_wrapper {background-position-x: -15.3rem; width: 100%; height: 110%; background-position-y: -13rem; background-size: 47rem;}
.labels__item_15 .img_wrapper {background-position-x: -22.5rem; width: 100%; background-position-y: -12.9rem; background-size: 46rem;}
.labels__item_16 .img_wrapper {background-position-x: -29.3rem; width: 100%;  background-position-y: -12.1rem; background-size: 44rem;}
.labels__item_17 .img_wrapper {background-position-x: -38.5rem; width: 100%; background-position-y: -12.7rem; background-size: 46rem;}
.labels__item_16, .labels__item_17 {margin: auto;}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: 320px) {
		
	}
	/*tablets*/
	@media only screen and (min-width: 768px) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: 1000px) {
		article .wrapper {width: 950px; margin: auto;}
		article h1 {font-size: 2.13rem;}
		article.price .wrapper {flex-direction: row; justify-content: space-between; height: 14.42rem;}
		.article__text {width: 50%; text-align: left;}
		article.price form {padding-top: 0; width: 40%;}
		article.price h2 {display: block; font-size: 1.16rem; width: 100%; line-height: 2.5;}
		article.services {padding-top: 7rem;}
		article.services h1 {width: 58%;}

		input.textarea {height: 2.58rem; border-radius: 2rem; border-width: 2.5px;}
		.button {height: 2.58rem; border-radius: 2rem; font-size: 1.3rem;}
		.button > div {border-radius: 2rem;}
		
		section p:first-of-type {padding-top: 1.3rem;}

		.section_1 .wrapper, .section_2 .wrapper {flex-direction: row; justify-content: space-between; align-items: flex-start;}
		.section_1 .wrapper {height: 19rem;}
		.section_1 .article__text {width: 54%;}
		.section_1 .img {width: 42%; height: 14rem; background-position-y: 0%;}

		.section_2 {background: url(../res/light-grey-line_1.png) 50% 0% no-repeat; background-size: auto 48rem; padding-top: 7rem;}
		.section_2 .wrapper {height: 41rem; align-items: center;}
		.section_2 .article__text {width: 52%;}
		.section_2 .img {width: 85%; height: 29rem; right: -14.5rem; background-position-y: 0%;}
		.section_2 p:last-of-type {padding-bottom: 7.5rem;}
		.section_2 .article__text > h2 {position: relative; top: auto; left: auto; right: auto; width: 100%; text-align: center;}

		.section_3 .wrapper {height: 23rem; align-items: flex-end;}
		.section_3 .article__text {width: 55%;}
		.section_3 .img {width: 55%; height: 31rem; left: -8rem; top: -3.5rem; background-position-y: 0%;}
		.section_3 .article__text > h2 {top: -3.5rem; text-align: center; width: 47%;}
		.section_3 p:first-of-type {padding-top: 1.3rem;}
		
		.section_4 {background: url(../res/light-grey-line_2.png) 50% 0% no-repeat; background-size: auto 29rem;}
		.section_4 .wrapper {height: 29rem; align-items: flex-start;}
		.section_4 .article__text {width: 54%;}
		.section_4 .img {width: 48%; height: 20rem; right: -4rem; top: 1.3rem; background-position-y: 0%;}
		.section_4 p:first-of-type {padding-top: 1.3rem;}
		.section_4 .article__text > h2 {position: relative; top: auto; left: auto; right: auto; width: 100%; text-align: center;}

		.section_5 .wrapper {height: 26.5rem; align-items: flex-end;}
		.section_5 .article__text {width: 53%;}
		.section_5 .img {width: 55%; height: 31rem; left: -5rem; top: -3.5rem; background-position-y: 0%;}
		.section_5 p:first-of-type {padding-top: 1.3rem;}
		.section_5 .article__text > h2 {position: relative; top: auto; left: auto; right: auto; width: 100%; text-align: center;}
		
		article.benefits {background: url(../res/green-line_1.png) 0% 0% no-repeat; background-size: auto 45rem; padding-top: 6rem; padding-bottom: 10rem;}
		article.benefits
		.article__features {height: 28rem; align-items: flex-start; padding-top: 1rem;}
		.article__features_item {width: 25%; height: 14.1rem; padding-top: 3rem;}
		.benefit_text {height: 5rem;}
		.benefit_image {height: 4.3rem;}
		.benefit_image#image_1 {height: 4.6rem;}

		article.installation {background: url(../res/black-line.png) 50% 0% no-repeat; background-size: auto 49rem; padding-top: 12rem; padding-bottom: 11rem; top: -11rem;}
		article.installation .wrapper { align-items: flex-start;}
		.installation h1 {position: relative; top: auto; left: auto;}
		.installation p {width: 60%; text-align: justify;}
		.installation p:first-of-type {padding-top: 2.3rem;}
		.installation form {width: 100%; flex-direction: row; flex-wrap: no-wrap; justify-content: space-between; padding-top: 3.5rem;}
		.installation input.textarea, 
		.installation .button {width: 30%;}
		.installation input.textarea {margin-bottom: 0; color: #fff;}
		.installation .img {width: 53%; height: 23.5rem; top: -1.5rem; right: -10.5rem;}

		article.examples {background: url(../res/orange-line.png) 50% 0% no-repeat; background-size: auto 56rem; padding-top: 8rem; padding-bottom: 10rem; top: -19rem;}
		.slider-container {width: 70%;}
		.swiper-container {width: 100%; height: 20rem;}
		.swiper-wrapper {height: 90%;}
	
		
		article.partners {background: url(../res/white-line.png) 50% 0% no-repeat; background-size: auto 49rem; padding-top: 8rem; padding-bottom: 8rem; top: -25.5rem;}
		.labels {height: 27rem;}
		.labels__item {width: 9rem; height: 5.5rem;}
		.labels__item_6 {height: 7rem;}
		.labels__item_16, .labels__item_17 {margin: 0;}
		.labels__item .img_wrapper {background-position: 0 -1rem; background-size: 56rem;}
		.labels__item_2 .img_wrapper {background-position-x: -9.3rem; background-position-y: -1.15rem; background-size: 53rem;}
		.labels__item_3 .img_wrapper {background-position-x: -18.6rem; background-position-y: -1.35rem; background-size: 57rem;}
		.labels__item_4 .img_wrapper {background-position-x: -23.3rem; width: 85%; background-position-y: -0.4rem; background-size: 47.5rem;}
		.labels__item_5 .img_wrapper {background-position-x: -34.5rem; width: 100%; background-position-y: -1.1rem; background-size: 53rem;}
		.labels__item_6 .img_wrapper {background-position-x: -40.8rem; width: 90%; background-position-y: -0.1rem; background-size: 49rem;}
		.labels__item_7 .img_wrapper {background-position-x: -0.8rem; width: 80%; background-position-y: -7.5rem; background-size: 55rem;}
		.labels__item_8 .img_wrapper {background-position-x: -9.5rem; width: 100%; background-position-y: -7.5rem; background-size: 56rem;}
		.labels__item_9 .img_wrapper {background-position-x: -20rem; width: 80%; background-position-y: -8.6rem; background-size: 58rem;}
		.labels__item_10 .img_wrapper {background-position-x: -27.5rem; width: 100%; background-position-y: -8.2rem; background-size: 56rem;}
		.labels__item_11 .img_wrapper {background-position-x: -38.3rem; width: 100%; background-position-y: -8.4rem; background-size: 57rem;}
		.labels__item_12 .img_wrapper {background-position-x: -47rem; width: 100%; background-position-y: -8rem; background-size: 56rem;}
		.labels__item_13 .img_wrapper {background-position-x: 1rem; width: 100%; background-position-y: -11rem; background-size: 43rem;}
		.labels__item_14 .img_wrapper {background-position-x: -18.5rem; width: 100%; height: 110%; background-position-y: -15.5rem; background-size: 57rem;}
		.labels__item_15 .img_wrapper {background-position-x: -27.4rem; width: 100%; background-position-y: -15.5rem; background-size: 56rem;}
		.labels__item_16 .img_wrapper {background-position-x: -35.75rem; width: 100%;  background-position-y: -14.65rem; background-size: 54rem;}
		.labels__item_17 .img_wrapper {background-position-x: -47.9rem; width: 100%; background-position-y: -15.5rem; background-size: 57rem;}
	}

	/*wideview monitor*/
	@media only screen and (min-width: 1280px) {
		 
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: 1920px) {
		article  .wrapper {width: 51.5%;}
		.section_2 {background-size: 100% 48rem;}
		.section_4 {background-size: 100% 29rem;}
		article.benefits {background-size: 100% 46rem;}
		article.installation {background-size: 100% 51rem;}
		article.examples {background-size: 100% 56rem;}
		article.partners {background-size: 100% 49rem;}
	}